<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Najlepsza propaganda w sieci!</title>
</head>
<body>
<form th:action="@{/article/success}" method="post">
    <label>Id:<br> <input type="number" th:field="${article.articleId}" ><br></label>
    <label>Image:<br> <input type="text" th:field="${article.articleImage}" ><br></label>
    <label>Title:<br> <input type="text" th:field="${article.articleTitle}" ><br></label>
    <label>Content:<br> <textarea rows="10" cols="15" th:field="${article.articleContent}" /></label><br>
    <label>Author:<br> <input type="text" th:field="${article.articleAuthor}" ><br></label>
    <label>Likes:<br> <input type="number" th:field="${article.articleLikes}" ><br></label>
    <label>Dislikes:<br> <input type="number" th:field="${article.articleDislikes}" ><br></label>
    <input type="submit" value="Add article"/>
</form>
</body>
</html>