<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Propagander - the best Propaganda on the Internet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <script src="../js/bootstrap.min.js" type="text/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<nav class="navbar navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Propagander</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/article/articleList">Articles</a></li>
                <li><a href="/user/editors">Editors</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="active" sec:authorize="hasAuthority('ADMIN')"><a href="/article/add">New article</a></li>
                <li class="active" sec:authorize="hasAuthority('REDACTOR')"><a href="/article/add">New article</a></li> <!--todo-->
                <li class="active" sec:authorize="hasAuthority('CHIEF')"><a href="/article/add">New article</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="hasAuthority('ADMIN')">
                <li><a href="/administration/controlPanel"><span class="glyphicon glyphicon-wrench"></span> Control Panel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                <li  class="active"><a href="/user/addUser"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
<form action="#" th:action="@{/article/add}" enctype="multipart/form-data" th:object="${article}" method="post">
   <label>Image link:<br> <input type="text" th:field="*{articleImage}" >
        <span th:if="${#fields.hasErrors('articleImage')}" th:errors="*{articleImage}">Something's wrong with an image</span><br></label>
    <label>Title:<br> <input type="text" th:field="*{articleTitle}" >
        <span th:if="${#fields.hasErrors('articleTitle')}" th:errors="*{articleTitle}">Something's wrong with a title</span><br></label>
    <label>Content:<br> <textarea rows="10" cols="15" th:field="*{articleContent}" /> <span th:if="${#fields.hasErrors('articleContent')}" th:errors="*{articleContent}">Something's wrong with text </span></label><br>

    <p><input type="submit" value="Add article"/></p>

</form>
</div>
</body>
</html>