<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Propagander - Najlepsza propaganda w sieci!</title>
</head>

<body><label th:object="${article}">
<h1 th:text="*{articleTitle}"></h1>
    <p><img th:src="*{articleImage}" alt="Wystąpił problem z ładowaniem zdjęcia"></p>
Napisano przez: <p th:text="*{articleAuthor}"></p>
    Data: <p th:text="*{articleDate}"></p>
<p th:text="*{articleContent}"></p>
<p text="Liczba polubień: " th:text="*{articleLikes}"></p>
    <p text="Liczba znielubień: " th:text="*{articleDislikes}"></p>
</label>
<br>
<br>
<form action="#" th:action="@{/article/addComment}" enctype="multipart/form-data"  th:object="${newCommentForm}" method="post">
    <p>Nowy komentarz</p>
    <p><label sec:authorize="isAuthenticated()">Komentujesz jako: <b><p th:text="${actualUser}"></p></b></label></p>
<!--    <p><label sec:authorize="isAnonymous()">Komentuj jako: <input type="text" th:field="*{anonAuthor}"></label></p>-->
    <p><label>Nagłówek:<br> <input type="text" th:field="*{commentTitle}"></label></p>
    <p><label>Treść:<br> <textarea rows="10" cols="15" th:field="*{commentContent}"/></label><br></p>
    <p><input type="submit" value="Dodaj komentarz"/></p>
</form>
</label>
</body>
</html>