<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Propagander - the best Propaganda on the Internet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <script src="../js/bootstrap.min.js" type="text/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>

<nav class="navbar navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Propagander</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/article/articleList">Articles</a></li>
                <li><a href="/user/editors">Editors</a></li>
                <li><a href="/contact">Contact</a></li>
                <li sec:authorize="hasAuthority('ADMIN')"><a href="/article/add">New article</a></li>
                <li sec:authorize="hasAuthority('REDACTOR')"><a href="/article/add">New article</a></li> <!--todo-->
                <li sec:authorize="hasAuthority('CHIEF')"><a href="/article/add">New article</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="hasAuthority('ADMIN')">
                <li><a href="/administration/controlPanel"><span class="glyphicon glyphicon-wrench"></span> Control Panel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                <li><a href="/user/addUser"><span class="glyphicon glyphicon-registration-mark"></span> Register</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
<label th:object="${article}">
    <h1 th:text="*{articleTitle}"></h1>
    <p><img th:src="*{articleImage}" alt="Something went wrong with loading the image."></p>
Written by: <p th:text="*{articleAuthor}"></p>
    Date: <p th:text="*{articleDate}"></p>
    <p th:text="*{articleContent}"></p>
    <p><span class="glyphicon glyphicon-plus"></span> <a th:text="*{articleLikes}"></a></p>
    <p><span class="glyphicon glyphicon-minus"></span> <a th:text="*{articleDislikes}"></a></p>
    <hr/>
</label>
<br>
<br>
<p><label sec:authorize="isAnonymous()"><i>You can comment this artcile if you log in.</i></label></p>

<form sec:authorize="isAuthenticated()" action="#" th:action="@{/article/addComment}" enctype="multipart/form-data"  th:object="${newCommentForm}" method="post">
    <h3><p>New comment</p></h3>
    <p><label>You comment the article as: <b><span sec:authorize="isAuthenticated()" th:text="${actualUser}"></span></b></label></p>
<!--    <p><label sec:authorize="isAnonymous()">Comment as: <input type="text" th:field="*{anonAuthor}"></label></p>-->
    <p><label>Comment title:<br> <input type="text" th:field="*{commentTitle}"></label></p>
    <p><label>Comment content:<br> <textarea rows="10" cols="15" th:field="*{commentContent}"/></label><br></p>
    <input type="hidden" name="articleNr" th:value="${article.articleId}"/>
    <p><input type="submit" value="Add comment"/></p>
</form>
<hr/>
<h3>Comments: </h3>

<div th:each="comment : ${commentList}">
    <p th:text="'Written'+' '+'by:'+' '+${comment.commentedby.username}"></p>
    <p th:text="${comment.commentTitle}"></p>
    <p th:text="${comment.commentContent}"></p>
    <hr/>
</div>
</div>

</label>
</div>
</body>
</html>