<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Propagander - Najlepsza propaganda w sieci!</title>
</head>
<body>
<form action="#" th:action="@{/user/addUser}" enctype="multipart/form-data" th:object="${user}" method="post">
    <label>Pseudonim:<br> <input type="text" th:field="*{username}" >
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Coś jest nie tak z pseudonimem</span><br></label>
    <label>Hasło:<br> <input type="password" th:field="*{password}" >
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Coś jest nie tak z hasłem</span><br></label>
    <label>Płeć:<br> <select th:field="*{userSex}">
        <option value="MALE">Męska</option>
        <option value="FEMALE">Żeńska</option>
    </select><br></label>
    <label>Rola:<br> <select th:field="*{userRole}">
        <option value="ADMIN">Administrator</option>
        <option value="CHIEF">Redaktor naczelny</option>
        <option value="REDACTOR">Redaktor</option>
        <option value="USER">Użytkownik</option>
    </select><br></label>
    <input type="submit" value="Dodaj usera"/>
</form>
</body>
</html>
