<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>Propagander - Najlepsza propaganda w sieci!</title>
</head>
<body>

<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <p>Pseudonim:<br> <input type="text" th:field="*{username}"/> </p>
    <p>Hasło:<br> <input type="password" th:field="*{password}"/></p>

    <input type="submit" value="Zaloguj"/></p>
</form>
</body>
</html>
