<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Propagander - the best Propaganda on the Internet</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="css/main.css"></script>

</head>
<body>

<nav class="navbar navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Propagander</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/article/articleList">Articles</a></li>
                <li><a href="#">Editors</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/article/add">New article</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAnonymous()">
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">

    <div>

        <div class="col-xs-12 col-sm-9">

            <div class="col-sm-8 text-left">
                <h1>Welcome</h1>
                <p>this is a main page of Propagander application. Portal is still not finished so please, do not be disappointed if not everything works as it should.</p>
                <hr>
            </div>

                <div class="col-xs-12 col-sm-12">
                    <div class="thumbnail">
                        <img th:src="${articleMain.articleImage}" alt="There should be loaded main article image">
                        <div class="caption">
                            <h3 th:text="${articleMain.articleTitle}"></h3>
                            <p th:text="${articleMain.articleIntroduction}"></p>
                        </div>
                    </div>
                    <div th:each="article : ${articleMainSupport}">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img th:src="${article.articleImage}" alt="There should be loaded article image">
                                <div class="caption">
                                    <h3 th:text="${article.articleTitle}"></h3>
                                    <p th:text="${article.articleIntroduction}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
        <div id="mySidenav" class="col-sm-2 sidenav">
            <div th:each="article : ${articleMainSide}">
                <p><a href="/article/${article.articleId}" th:text="${article.articleTitle}">There should be showed link to article</a><hr/></p>
            </div>
        </div>
    </div>

</div><!--/.container-->
<div>
    <center>
        <footer class="container-fluid text-center">
            <p>Created by: Tomasz Kubicz</p>
        </footer>
    </center>
</div>

</body>
</html>